<div [id]="'todo-'+task.id">
  <input type="checkbox" [checked]="task.done" (change)="toggleStatus()">
  <div *ngIf="!isEditing">
    <label for="">{{task.label}}</label>
    <button (click)="toggleEdit()">
      Éditer
      <fa-icon [icon]="faPencilAlt"></fa-icon>
    </button>
    <button (click)="onDelete()">
      Supprimer
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>

  <form *ngIf="isEditing" (submit)="handleSubmit($event)">
    <input type="text" [value]="task.label">
    <button type="submit">
      Valider
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
    <button (click)="toggleEdit()">
      Annuler
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </form>
</div>
